:root {
    --primary: rgba(160, 23, 160, 0.842); 
    --secondary: rgba(255, 230, 0, 0.753);
    --tertiary: rgb(177, 174, 174);
    ----quarternary-color:white;
 }

header {
    padding: 20px 25px;
    position: sticky;
    top: 0;
}
header h1 {
    color: var(--primary);
    font-size: 50px;
    text-align: center;
}
header nav {
    display: inline;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
}

header nav ul li {
    margin: 5px;
}

header nav ul li a {
   text-decoration: none;
   color: var(--primary);
   text-align: center;
}


.footer  {
    background-color: var(--primary);
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;

    
}


.input {
    width: 20%;
    border-radius: 7px;
    border-color: var(--secondary);
}

.search button {
    border-color: var(--secondary);
}
.optionsSection{
    display: flex;
}
.optionsSection h2 {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    color:rgba(160, 23, 160, 0.842);
    font-size: 25px;
}
.optionsSection ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color:rgba(160, 23, 160, 0.842);
    text-decoration: none;
}
.optionsSection ul li {
    display: flex;
    padding: 10px;
}
#beer ul {
    display: flex;
    flex-wrap: wrap;
    font-family:monospace;
    font-size:xx-large ;
    font-weight:bold;
    color:rgba(160, 23, 160, 0.842); 
   
}
#beer li{
    font-family:monospace;
    font-size: x-large;
    list-style-type: none;
    color:rgba(160, 23, 160, 0.842); 
    padding: 10px
}
#beer img{
    width:150px;
    height:350px;
}
#recipe ul{
    display: flex;
    flex-wrap: wrap;
    font-family:monospace;
    font-size: xx-large;
    font-weight: bold;
    list-style-type: none;
    color:rgba(160, 23, 160, 0.842);
}
#recipe li{
    font-family:monospace;
    font-size:x-large ;
    color:rgba(160, 23, 160, 0.842); 
    list-style-type: none;
    padding: 10px;
}
#recipe img {
    padding:10px

}
#recipe a{
    padding: 10px
}